*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

body{
    background-color: #f2f2f2;
    height: 100vh;
    width: 100vw;
}

#header{
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

main{
    margin-top: 20px;
    text-align: center;
}

main > * {
    margin: 20px;
}

#footer{
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#popup{
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}